@font-face {
    font-family: 'thesansb8extrabold';
    src: url('font/thesnb8-webfont.eot');
    src: url('font/thesnb8-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/thesnb8-webfont.woff') format('woff'),
         url('font/thesnb8-webfont.ttf') format('truetype'),
         url('font/thesnb8-webfont.svg#thesansb8extrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'thesansb5plain';
    src: url('font/thesnb5-webfont.eot');
    src: url('font/thesnb5-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/thesnb5-webfont.woff') format('woff'),
         url('font/thesnb5-webfont.ttf') format('truetype'),
         url('font/thesnb5-webfont.svg#thesansb5plain') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Core variables and mixins
@import "generic/variables.less";
@import "generic/mixins.less";
@import "generic/reset.less";

// Responsive
@import "base/responsive.less";


// Basic styles
@import "base/main.less";
@import "base/links.less";
@import "base/lists.less";
@import "base/headings.less";
@import "base/grid.less";


// Components
@import "objects/header.less";
@import "objects/footer.less";
@import "objects/slider.less";
@import "objects/navbar.less";
@import "objects/navigation.less";
@import "objects/banner.less";
@import "objects/wpclasses.less";
@import "objects/component-animations.less";



/* TO DO */

//@media (max-width: 640px) { html {font-size:1.2rem;} } @media (min-width: 640px) { body {font-size:1rem;} } @media (min-width:960px) { body {font-size:1.2rem;} } @media (min-width:1100px) { body {font-size:1.5rem;} } 



table, td { border: none; }
td { padding: 5px; }



/* =============================================================================
   Header
   ========================================================================== */



.social-media-links {
  position: absolute;
  top: 9px;
  right: 0;
  list-style: none;
}
.social-media-links li { float: left; }

.social-media-links li a {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  display: block;
  background: url('../img/social_media_icons.png') 0 0 no-repeat;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
}
.social-media-links li a:hover {
  cursor: pointer;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
}

.social-media-links .facebook-icon a:hover { background-position: 0 -20px; }
.social-media-links .twitter-icon a { background-position: 0 -40px; }
.social-media-links .twitter-icon a:hover { background-position: 0 -60px; }
.social-media-links .google-icon a { background-position: 0 -80px; }
.social-media-links .google-icon a:hover { background-position: 0 -100px; }
.social-media-links .mail-icon a { background-position: 0 -120px; }
.social-media-links .mail-icon a:hover { background-position: 0 -140px; }
.social-media-links .linkedin-icon a { background-position: 0 -160px; }
.social-media-links .linkedin-icon a:hover { background-position: 0 -180px; }
.social-media-links .xing-icon a { background-position: 0 -200px; }
.social-media-links .xing-icon a:hover { background-position: 0 -220px; }
.social-media-links .skype-icon a { background-position: 0 -240px; }
.social-media-links .skype-icon a:hover { background-position: 0 -260px; }
.social-media-links .youtube-icon a { background-position: 0 -280px; }
.social-media-links .youtube-icon a:hover { background-position: 0 -300px; }
.social-media-links .vimeo-icon a { background-position: 0 -320px; }
.social-media-links .vimeo-icon a:hover { background-position: 0 -340px; }
.social-media-links .flickr-icon a { background-position: 0 -360px; }
.social-media-links .flickr-icon a:hover { background-position: 0 -380px; }
.social-media-links .rss-icon a { background-position: 0 -400px; }
.social-media-links .rss-icon a:hover { background-position: 0 -420px; }


/* ==========================================================================
   Content
   ========================================================================== */

.content { }

.content h2 a { color: #333; }
.content h2 a:hover { color: #D20A0A; }

.span4.form-grey {
  padding: 15px;
  background-color: #ddd6d0;
}

.span4.form-green {
  padding: 15px;
  background-color: #93BD10;
}

.span4.form-blue {
  padding: 15px;
  background-color: #07B9E4;
}

/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { padding-top: 50px; }

.column1 {
    float: left;
  width: 400px;
  margin-right: 34px;
}

.columnWide {
    float: right;
    width: 560px;
}

.keyvisual {
    background: url(../img/dots.png) repeat-x;
    height:25px;
}

.accordion ul li {
  height: 50px;
  border-top:1px solid #dfdfdf;
  overflow: hidden;
}

.accordion ul li:first-child {
  border-top:none;
}

.accordion h2 { margin: 0; }
.accordion h2 a {
  font-family: 'thesansb5plain', sans-serif;
  color: #333;
  display: block;
  position: relative;
  -webkit-transition:  color 0.2s ease-in-out;
  -moz-transition:  color 0.2s ease-in-out;
  -o-transition:  color 0.2s ease-in-out;
  -ms-transition:  color 0.2s ease-in-out;
  transition:  color 0.2s ease-in-out;
  font-weight: 300;
  line-height: 50px;
}
.accordion h2 a:hover, .accordion li.acc-open h2 a{
  color: rgb(210,10,10);
  padding-left: 25px;
}

.acc-content {
  padding: 5px 0px 30px 0px;
}

.accordion h2 a span {
  background: transparent url(../img/down.png) no-repeat center center;
  text-indent: -9000px;
  width: 13px;
  height: 14px;
  position: absolute;
  top: 50%;
  left: -26px;
  margin-top: -6px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.accordion h2 a:hover span {
  opacity: 1;
  left: 3px;
}
.accordion li.acc-open h2 span {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  left: 5px;
  opacity: 1;
}

.tab-nav { padding-bottom: 5px; margin-top: 20px; }
.tab-nav a { color: #000000; }

.tab-header {
  display: block;
  font-family: 'thesansb5plain', sans-serif;
  height: 30px;
  margin: 0;
  background: #cac0b6;
  text-align: center;
  padding: 13px 2%;
  font-size: 24px;
  -webkit-transition: background 350ms;
  -moz-transition: background 350ms;
  -ms-transition: background 350ms;
  -o-transition: background 350ms;
   transition: background 350ms;
  position: relative;
}
.tab-header:last-child { margin-right: 0; }
.tab-header:last-child:after { border: none; }

.tab-header:before {
content: '';
position: absolute;
width: 0px;
height: 0px;
border-style: solid;
border-width: 30px 0 30px 26px;
border-color: transparent transparent transparent #ffffff;
right: -26px;
top: -2px;
z-index: 5;
}

.tab-header:after {
content: '';
position: absolute;
width: 0px;
height: 0px;
border-style: solid;
border-width: 28px 0 28px 24px;
border-color: transparent transparent transparent #cac0b6;
right: -24px;
top: 0;
z-index: 5;
  -webkit-transition: border 350ms;
  -moz-transition: border 350ms;
  -ms-transition: border 350ms;
  -o-transition: border 350ms;
   transition: border 350ms;
}

.tab-header:hover {
  text-decoration: underline;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}
.tab-header.current { color: #ffffff; }

.tab-header.current { background: rgb(210,10,10); }
.tab-header.current:hover { box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.42); }
.tab-header.current:after { border-color: transparent transparent transparent rgb(210,10,10); }

.tab-header:nth-child(1) { z-index: 5; }
.tab-header:nth-child(2) { z-index: 4; }
.tab-header:nth-child(3) { z-index: 3; }
.tab-header:nth-child(4) { z-index: 2; }
.tab-header:nth-child(5) { z-index: 1; }

.tab-content-wrap {
  padding: 12px;
}

.tab-content-wrap p {
  margin: 0;
  margin-bottom: 12px;
}

.tab-span12 { width: 96%; }
.tab-span6 { width: 46%; }
.tab-span4 { width: 29.3% }
.tab-span3 { width: 21%; }
.tab-span2 { width: 16%; }

.tab-header.tab-span6.current { background: #07B9E4; }
.tab-header.tab-span6.current:after { border-color: transparent transparent transparent #07B9E4; }

.tab-header.tab-span4.current { background: #93BD10; }
.tab-header.tab-span4.current:after { border-color: transparent transparent transparent #93BD10; }

.member-wrap {
  margin-right: 20px;
  margin-bottom: 21px;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
}
.member-wrap:last-child { margin-right: 0; }

.member-portraits {
  width: 188px;
  display: inline-block;
  position: relative;
  min-height: 220px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.member-wrap:hover .member-portraits {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  cursor: pointer;
}

.member-portraits header, .member-portraits .entry-summary  {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 220px;
}
.member-portraits .entry-summary {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
 }
.member-portraits header { z-index: 2; }

.member-portraits header, .member-portraits .entry-summary {
  background: #F9F9F9;
  border: 1px solid #B7B7B7;
  padding: 3px;
  border-radius: 2px;
  width: 180px;
}

.member-portraits header h2, .member-portraits .entry-summary h2 {
  font-family: 'thesansb5plain', sans-serif;
  font-size: 16px;
  margin: 0;
  text-align: center;
}

.member-portraits header a, .member-portraits .entry-summary a {
  color: #333;
  display: block;
}

.member-portraits header a, .member-portraits .entry-summary a { text-decoration: none; }

.member-portraits .entry-summary p {
  margin: 5px;
  line-height: 20px;
  font-size: 15px;
  border-bottom: 1px solid #dfdfdf;
}

/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }

.form-search input,
textarea,
button.btn,
input[type="submit"].btn,
input[type="text"],
input[type="email"],
input[type="url"] {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.form-search input.search-query {
  width: 200px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(210, 10, 10, 0.4);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(210, 10, 10, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(210, 10, 10, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(210, 10, 10, 0.6);
}

aside.sidebar ul { list-style: none; }
aside.sidebar a { color: #666; }

aside.sidebar h3 {
font-size: 22px;
font-family: 'thesansb5plain', sans-serif;
text-decoration: underline;
margin-bottom: 5px;
line-height: 22px;
}

/* ==========================================================================
   Posts
   ========================================================================== */

.hentry .entry-content { padding: 5px 0; }

.hentry .entry-content img,
.type-post .entry-summary img {
  padding: 4px;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  box-shadow: 1px 1px 0px rgba(0,0,0,0.1);
}
.hentry .entry-content img.alignleft { margin-right: 20px; }
.hentry .entry-content img.alignright { margin-left: 20px; }

body.page article.type-post {
  margin-bottom: 35px;
  border-top: 1px solid #dfdfdf;
}

.type-post header { margin-bottom: 15px; }
.type-post header h2 { margin-bottom: 0; font-size: 28px; margin-top: 5px; }
.meta-entry { font-size: 12px; line-height: 12px; }
.type-post .entry-summary img,
.type-post .entry-content img { margin-bottom: 15px; }
.type-post header h2,
.single-post header h1 {
  font-family: 'thesansb5plain', sans-serif;
  text-transform: none;
}

#respond { margin-top: 35px;border-top: 1px solid #dfdfdf; }

.comment-left, .comment-right {
width: 50%;
}

.comment-left input,
.comment-right textarea {
width: 90%;
}

#comments ol,
#comments ul {
  list-style: none;
  margin-left: 0;
}

li.comment article {
  padding: 20px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #dfdfdf;
}
li.comment.depth-1 > article:last-child { border: none; }

li.comment.depth-2 article {
  padding-left: 60px;
}