/* ==========================================================================
   Base
   ========================================================================== */

body {
	background-color: #fff;  
 	font-family: Georgia serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	color: rgb(60,60,60);
	margin: 0;
	padding: 0;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

a:link {text-decoration: none; color: rgb(255,255,255);}
a:visited {text-decoration: none; color: rgb(255,255,255);}
a:active {text-decoration: none; color: rgb(168,180,0);}
a:hover {text-decoration: none; color: rgb(168,180,0);}

::-moz-selection { background: rgb(168,180,0); color: #fff; text-shadow: none; }
::selection { background: rgb(168,180,0); color: #fff; text-shadow: none; }

.clearfix {
	overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Header
   ========================================================================== */

.slider, .slides {
  position: relative;
  min-width: 1024px;
  margin-bottom: 0;
  height: 400px;
  overflow: hidden;
}

.logo {
  position:absolute;
  z-index:5;
  left: 20px;
  top: 20px;
}

.apply-now {
  position:absolute;
  z-index:5;
  left: 0;
  bottom: 40px;
}

.slides img, .slider img.attachment-full {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.slides h2 { display: none; }
	
.navMain {
	position: relative;
	background-color: rgb(50,50,50);
	font-family: 'Roboto', sans-serif;
  border-bottom: 35px solid rgb(168,180,0);
}

.main-navigation {
  height: 52px;
  position: relative;
}

.main-navigation li.dropdown {
  padding: 0 40px 0 0;
}

.main-navigation li.dropdown > a {
  line-height: 52px;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.white-nav-border { border-bottom: 3px solid #fff }

.navMain li, .navTop li {
  float: left;
	list-style: none;
	color: #FFF;
}

.navMain ul.dropdown-menu {
	position: absolute;
	display: none;
	left: 0;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	z-index: 3;
  width: 1024px;
  line-height: 40px;
}

.navMain ul.dropdown-menu li { padding-right: 25px; }

.navTop li {
	padding-left: 20px;
}	

.navTop {
	height: 36px;
	background-color: rgb(50,50,50);
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
  line-height: 36px;
}

.navMain li.dropdown:hover ul {
	display: block;
}

.navMain ul.dropdown-menu a:hover {
	color: rgb(50,50,50);
}


/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { padding-top: 50px; }

.column1 {
	float: left;
  width: 400px;
  margin-right: 34px;
}

.span3 {
  width: 320px;
  margin-right: 32px;
}
.span3:last-child { margin-right: 0; }

.columnWide {
	float: right;
	width: 560px;
}
	
h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 30px;
	line-height:35px;
	text-transform: uppercase;
	letter-spacing: 0px;
  margin-top: 0;
}


.keyvisual {
	background: url(../img/dots.png) repeat-x;
	height:25px;
}

/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }

footer {
	background: url('../img/background.png');
	height: 370px;
	width: 100%;
	margin-top: 80px;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #fff;
	}

footer div {
	padding: 30px;
	}
	
footer ul {
	list-style:none;
	}
	
footer .copyright {
	width: 400px;
	}
	
footer .nav-pills {
	float: right;
	width: 400px;
	display: block;
	}

.keyvisual_w {
	background: url(../img/dots_w.png) repeat-x;
	width: 100%;
	}
	
	
.dropdown-menu {
	display: block;
	float: left;
	}

footer section {
	float: right;
	
	}

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 979px) {
  /* Fix top padding when using the responsive grid with the fixed topbar */
  body.top-navbar {
    padding-top: 0;
  }
}

@media screen and (max-width: 1024px) {

  .responsive-slider.flexslider .slides img, .slider img.attachment-full {
    left: 50%;
    margin: 0 0 0 -512px;
  }
}
