/* ==========================================================================
   Base
   ========================================================================== */

body { background: url("../img/background.png"); 
	background-color: #fff;  
 	font-family: Georgia serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	color: rgb(60,60,60);
	margin: 0;
	padding: 0;
}

.container {
  width: 1000px;
  background: white;
  margin: 0 auto;
}

a:link {text-decoration: none; color: rgb(255,255,255);}
a:visited {text-decoration: none; color: rgb(255,255,255);}
a:active {text-decoration: none; color: rgb(168,180,0);}
a:hover {text-decoration: none; color: rgb(168,180,0);}

::-moz-selection { background: rgb(168,180,0); color: #fff; text-shadow: none; }
::selection { background: rgb(168,180,0); color: #fff; text-shadow: none; }

.clearfix {
	clear: both;
	}

/* =============================================================================
   Header
   ========================================================================== */

.banner { }

nav ul li {
	position: relative;
	list-style: none;
	display: inline;
	color: #FFF;
	}	

.navTop ul li {
	padding: 0px 20px 5px 0;
	}	

.navTop {
	height: 30px;
	background-color: rgb(50,50,50);
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-align: right;
	padding: 1px 0 5px 0;
	}
	
.navMain ul {
	position: relative;
	}
	
.navMain ul li {
	padding: 0 40px 0 0;
	}		
	
.navMain {
	postion: relative;;
	height: 46px;
	background-color: rgb(50,50,50);
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 1px 0px 5px 0;
	}
	
.navMain ul a {
	border: solid 12px rgb(50,50,50);
}
	
.navMain ul li ul {
	position: absolute;
	display: none;
	width:1000px;
	top:35px;
	left:0;
	border: solid 2px #fff;
	margin: 0 0px 0 -45px;
	height: 28px;
	padding: 5px 0 0 0;	
	background-color: rgb(168,180,0);
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	letter-spacing: 0px;
	text-transform: none;
	overflow: hidden;
	z-index:3;
	}
	
.navMain ul li {
	padding: 0 0 0 5px;
	}		

.navMain ul li ul a {
	border: solid 8px rgb(168,180,0);
	padding: 0;	
	}

.navMain ul li:hover ul {
	display: inline;
	}

.navMain ul li ul li a:hover {
	color: rgb(50,50,50);
	}


/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

.column1 {
	position:relative;
	float: left;
	width: 300px;
	margin: 15px 10px 10px 20px;
	}
	
.column2 {
	position:relative;
	float: left;
	width: 300px;
	margin: 30px 10px 10px 10px;
	}
	
.column3 {
	position:relative;
	float: left;
	width: 300px;
	margin: 30px 10px 10px 10px;
	}

.columnWide {
	position:relative;
	float: left;
	width: 620px;
	margin: 30px 10px 10px 10px;
	}
	
h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 30px;
	line-height:35px;
	text-transform: uppercase;
	letter-spacing: 0px;
	padding: 10px 40px 5px 0;
	}


.keyvisual {
	background: url(../img/dots.png) repeat-x;
	width: 290px;
	height:25px;
	}

/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }

footer {
	height: 370px;
	width: 100%;
	background-color: rgb(50,50,50);
	margin-top: 80px;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #fff;
	}

footer div {
	padding: 30px;
	}
	
footer ul {
	list-style:none;
	}
	
footer .copyright {
	width: 400px;
	}
	
footer .nav-pills {
	float: right;
	width: 400px;
	
	}

.keyvisual_w {
	background: url(..img/dots_w.png) repeat-x;
	width: 100%;
	}
	
	
.dropdown-menu {
	display: block;
	float: left;
	}

footer section {
	float: right;
	
	}

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 979px) {
  /* Fix top padding when using the responsive grid with the fixed topbar */
  body.top-navbar {
    padding-top: 0;
  }
}


.responsive-slider.flexslider { margin-bottom: 0; }
